<div id="<%= dom_id comment %>">

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card border-dark alert-warning mb-3" style="width: 70rem";>
        <div class="card-body">
          <p class="card-text"><%= comment.body %></p>
          <div class="btn-group" role="group">
          <%= button_to 'Destroy Comment', [@post, comment], method: :delete, class:"btn btn-outline-dark btn-sm"%>
          <%= button_to 'Back to Post', @post, method: :get, class:"btn btn-outline-dark btn-sm"%>
          <%= button_to 'Back to Comments', post_comments_path(@post), method: :get, class:"btn btn-outline-dark btn-sm"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
