<p style="color: green"><%= notice %></p>

<h1>Comments for Recipe "<%=@post.title %>"</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%if @post.comments.index(comment) %>
      <%= render comment %>
      <%= button_to 'Edit This Comment', edit_post_comment_path(@post, comment), method: :get, class:"btn btn-outline-dark btn-sm"%>
      <%= button_to "New comment", new_post_comment_path(@post),  method: :get, class:"btn btn-outline-dark btn-sm"%>
      <%end %>
    <% end %>
</div>