<%= form_with(model: likes_counter) do |form| %>
  <% if likes_counter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(likes_counter.errors.count, "error") %> prohibited this likes_counter from being saved:</h2>

      <ul>
        <% likes_counter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
