<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
            <p class="text-white-50 mb-5">Please enter your information!</p>


            <div class="form-outline form-white mb-4">
              <%= form.label :first_name, class:"control-label col-sm-3" %>
              <%= form.text_field :first_name, class:"form-control form-control-lg" %>
            </div>

            <div class="form-outline form-white mb-4">
              <%= form.label :last_name, class:"control-label col-sm-3" %>
              <%= form.text_field :last_name, class:"form-control form-control-lg" %>
            </div>

            <div class="form-outline form-white mb-4">
              <%= form.label :username,  class:"control-label col-sm-3"  %>
              <%= form.text_field :username,  class:"form-control form-control-lg" %>
            </div>

            <div class="form-outline form-white mb-4">
              <%= form.label :password, class:"control-label col-sm-3" %>
              <%= form.text_field :password_hash, class:"form-control form-control-lg" %>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

            <div>
              <p class="mb-0"> <a href= "/login" class="text-white-50 fw-bold"> Back To Login</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

