<style>
    h1 {
        font-family: Avenir, fantasy;}
    h6 {font-family: Avenir, fantasy;font-size: 28px; color: black;font-weight: bolder}
    h7 {font-family: Avenir, fantasy; font-size: 20px; color: black}
    h5 {font-family: Avenir, fantasy;font-size: 17px; font-weight: lighter;}
    h9 {font-family: Avenir, fantasy; font-size: 17px; font-weight: bold}

</style>
<div class="container-fluid">
    <div id="header"></div>
    <div id="profile">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar,
                      :style => "width: 100px; height: 100px; object-fit: cover; border-radius: 50px" %>
      <% else %>
        <%= image_tag "default_pic.png",
                      :style => "width: 100px; height: 100px; object-fit: cover; border-radius:50px",
                      class:"rounded-circle"%>
      <% end %>

    </div>

      <div class="name">
        <h6>Name: <%=@user.full_name %></h6>
      </div>
      <div class="nickname">
       <h7>Username: @<%= @user.username %></h7>
      </div>

  <h6>
    <a href = '<%= new_post_path %>' class="btn btn-outline-dark btn-sm small"  aria-pressed="true"> Make a New Post</a>
    <a href = '<%= edit_user_path(@user) %>' class="btn btn-outline-dark btn-sm small"  aria-pressed="true"> Edit My Profile</a>
  </h6>


  <div class="alert alert-warning" role="alert">
    My Posts
  </div>
<%@number_of_posts = @user.posts.count %>
<% current_user.posts.each do |post| %>
  <div class="card text-black alert-warning mb-3" >

    <div class="card-header">Post <%=@number_of_posts %></div>
    <div class="card-body">
      <p class="card-text"> <%=post.content %></p>
    </div>
    <% unless current_user.posts.include?(@post) %>
    <%=   button_to "Like", "/like_post/#{current_user.id}/#{post.id}", :method => :post, class:"btn btn-dark btn-sm" %>
    <% end %>

    <%@number_of_posts = @number_of_posts - 1 %>
    <%end %>

  </div>

    </div>
  </div>


