<p style="color: green"><%= notice %></p>

<h1>Showing Results for <%= @explore.hashtag_search %></h1>
<%@result.each do |food| %>
  <h1>Name of Dish: <%=food[name] %></h1>
<% end %>

<div id="explores">
  <% @explores.each do |explore| %>
    <%= render explore %>
    <p>
      <%= link_to "Show this explore", explore %>
    </p>
  <% end %>
</div>

<%= link_to "New explore", new_explore_path %>
